.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list .header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  background-color: #f4f5f7;
  border-radius: 5px;
}
